# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Gradle
build/
.gradle/
out/

# Spring Boot
application-*.yml
application-*.properties
*.log

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Logs
logs/
*.log

# Environment / Secrets
.env
*.env